Certificado_de_finalización_del_webinar_TripleTen (1).jpg
Certificado_de_finalización_del_webinar_TripleTen.jpg
Certificates_LATAM_-_QA (1).jpg
Copy of Axel Arturo Contreras Van Dyck, Grupo 14 - 1.er sprint.xlsx